[submodule "backend_repo"]
	path = backend_repo
	url = https://github.com/alfredo003/smartquote-backend
[submodule "frontend_repo"]
	path = frontend_repo
	url = git@github.com:smartquote-rcs/SmartQuote-RCS-Front-End.git
[submodule "caminho/onde/ficara"]
	path = caminho/onde/ficara
	url = git@github.com:smartquote-rcs/smartQuote-python.git
[submodule "smartQuote-python"]
	path = smartQuote-python
	url = git@github.com:smartquote-rcs/smartQuote-python.git
[submodule "SmartQuote-RCS-Front-End"]
	path = SmartQuote-RCS-Front-End
	url = https://github.com/smartquote-rcs/SmartQuote-RCS-Front-End.git
[submodule "smartquote-backend"]
	path = smartquote-backend
	url = https://github.com/smartquote-rcs/smartquote-backend.git
